**/.vscode
**/node_modules
**/*.component.js
**/*.component.js.map
**/*.module.js
**/*.module.js.map
**/*.gaurd.js
**/*.gaurd.js.map
**/*.service.js
**/*.service.js.map
**/*.pipe.js
**/*.pipe.js.map
**/*.routing.js
**/*.routing.js.map
**/lang-*.js
**/lang-*.js.map
**/main.js
**/main.js.map
**/npm-debug.log
.gitignore.swp
**/.DS_Store
**/._.*
**/Rest_Api/user_images
**/Rest_Api/public
