<form (submit)="search($event, txt.value)" class="navbar-form mySearch" role="form">
    <div class="input-group add-on mySearch_2">
        <input class="form-control" #txt placeholder="Movie Title/IMDb Code, Actor Name/IMDb Code, Director Name/IMDb Code" type="text">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">{{ 'Search' | translate }}</button>
            <button class="btn btn-default" (click)="showAdv($event)">Advanced</button>
        </div>
    </div>
</form>

<div class="container-fluid" infinite-scroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()">
    <div class="column" *ngFor="let movie of viewMovies">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">    
            <div class="hovereffect" style="float:left;">
                <img class="img-responsive" [src]="movie.large_cover_image" 
                    onError="this.src = 'https://s-media-cache-ak0.pinimg.com/736x/ca/78/d7/ca78d7aecfb4818cff40efb8b368aac0.jpg'" 
                    alt="{{movie.title}}"/>
                <div class="overlay">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.synopsis | truncate : 200 }}</p>
                    <br/>
                    <a class="info" (click)="viewMovie(movie)">{{ 'Show Info' | translate }}</a>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="nav_tabs_next hidden-xs">
    <a (click)="nextPage()">
        <p>N</p>
        <p>E</p>
        <p>X</p>
        <p>T</p>
    </a>
</div>
<div class="nav_tabs_back hidden-xs">
    <a (click)="previousPage()">
        <p>B</p>
        <p>A</p>
        <p>C</p>
        <p>K</p>
    </a>
</div>
<div class="bottom_buttons visible-xs">
    <a class="left" (click)="previousPage(true)">BACK</a>
    <a class="right" (click)="nextPage(true)">NEXT</a>
</div>

<!--Modal View for the Movie-->
<modal #modal *ngIf="selectedMovie != null">
    <modal-header>
        <h4 class="modal-title">{{selectedMovie.title_long}} | ({{ ((selectedMovieViewed) ? 'Watched' : 'Unwatched') | translate }})</h4>
    </modal-header>
    <modal-body>
        <div class="container-fluid">
            <div class="column">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-8">
                    <img class="img-responsive" [src]="selectedMovie.medium_cover_image" 
                    onError="this.src = 'https://s-media-cache-ak0.pinimg.com/736x/ca/78/d7/ca78d7aecfb4818cff40efb8b368aac0.jpg'" 
                    alt="{{selectedMovie.title}}"/>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-8">
                    <b>{{ 'Summary' | translate }}:</b>
                    <p>{{selectedMovie.summary | truncate : 500 }}</p>
                    <b>{{ 'Rating' | translate }}:</b> {{selectedMovie.rating}}<br/>
                    <b>{{ 'Language' | translate }}:</b> {{selectedMovie.language}}<br/>
                    <b>{{ 'MPA Rating' | translate }}:</b> {{ selectedMovie.mpa_rating }}
                </div>
            </div>
        </div> 
    </modal-body>
    <modal-footer>
        {{ 'Play At' | translate }}: 
        <button type="button" class="btn btn-default" 
                *ngFor="let torrent of selectedTorrent"
                [routerLink]="['/movie']"
                [queryParams]="{ mid: selectedMovie.id, quality: torrent.quality }">{{ torrent.quality }}</button>
        <button type="button" class="btn btn-primary" (click)="modal.close()">{{ 'Close' | translate }}</button>
    </modal-footer>
</modal>

<!--Modal View for the Advanced Search-->
<modal #advSearch *ngIf="selectedMovie != null">
    <modal-header>
        <h4 class="modal-title">Advanced Search</h4>
    </modal-header>
    <modal-body>
        <form (submit)="advSrch($event, query.value, genre1.value, genre2.value, genre3.value, quality.value, sortby.value)" role="form">
            <div class="container-fluid">
                <div class="column">
                    <div class="form-group">
                        <label for="srch">Search:</label>
                        <input #query type="text" class="form-control" id="srch">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Genre 1:</label>
                        <select #genre1 class="form-control" id="sel1">
                            <option selected="true">(Unselected)</option>
                            <option>Sci-Fi</option>
                            <option>Adventure</option>
                            <option>Action</option>
                            <option>Animation</option>
                            <option>Crime</option>
                            <option>Comedy</option>
                            <option>Thriller</option>
                            <option>Fantasy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Genre 2:</label>
                        <select #genre2 class="form-control" id="sel1">
                            <option selected="true">(Unselected)</option>
                            <option>Sci-Fi</option>
                            <option>Adventure</option>
                            <option>Action</option>
                            <option>Animation</option>
                            <option>Crime</option>
                            <option>Comedy</option>
                            <option>Thriller</option>
                            <option>Fantasy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Genre 3:</label>
                        <select #genre3 class="form-control" id="sel1">
                            <option selected="true">(Unselected)</option>
                            <option>Sci-Fi</option>
                            <option>Adventure</option>
                            <option>Action</option>
                            <option>Animation</option>
                            <option>Crime</option>
                            <option>Comedy</option>
                            <option>Thriller</option>
                            <option>Fantasy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Quality:</label>
                        <select #quality class="form-control" id="sel1">
                            <option selected="true">(Unselected)</option>
                            <option>3D</option>
                            <option>1080p</option>
                            <option>720p</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Sort By:</label>
                        <select #sortby class="form-control" id="sel1">
                            <option selected="true">(Unselected)</option>
                            <option value="title">Title</option>
                            <option value="ratings">Ratings</option>
                            <option value="year">Year</option>
                            <option value="date_added">Date Added</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" >{{ 'Search' | translate }}</button>
        </form> 
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="advSearch.close()">{{ 'Close' | translate }}</button>
    </modal-footer>
</modal>


<!--User Panel-->
<div class="userInfo">
    <img src="{{ user.image_link }}" alt="{{user.username}}" style="padding-left: 2px; max-height: 48px; max-width: 48px"/>
    <div class="info">
        <p>{{ user.username }}</p>
        <a (click)="logout()">Logout</a>
    </div>
</div>