 <div class="login jumbotron center-block" style="padding-left: 20px; padding-right: 20px;">
   <h1>{{ 'Login' | translate }}</h1>
   <form role="form" (submit)="login($event, username.value, password.value)">
    <div class="form-group">
      <label for="username">{{ 'Username' | translate }}</label>
      <input type="text" #username class="form-control" id="username" placeholder="Username" required="true">
    </div>
    <div class="form-group">
      <label for="password">{{ 'Password' | translate }}</label>
      <input type="password" #password class="form-control" id="password" placeholder="Password" required="true">
    </div>
    <div class="btn-group btn-block">
      <button type="submit" class="btn btn-primary">{{ 'Submit' | translate }}</button>
      <button [routerLink]="['/signup']" type="submit" class="btn btn-info">{{ 'Create Account' | translate }}</button>
      <button [routerLink]="['/forgot']" type="submit" class="btn btn-danger">{{ 'Forgot Password' | translate }}</button>
    </div>
  </form>
  <p>{{ 'Or Login With' | translate }}:</p>
  <div class="btn-group btn-block">
    <button type="button" class="btn btn-primary" style="width:8em;" 
        onclick="window.location.href = 'https://api.intra.42.fr/oauth/authorize?client_id=cf355a16a80ff46f91915c6ac4a1ec20ed7cb9f8b45a77ebe9878953f012a673&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin&response_type=code'">
        42
    </button>
    <button type="button" class="btn btn-primary" style="width:8em;"
        onclick="window.location.href = 'https://www.facebook.com/v2.8/dialog/oauth?client_id=1555593181123503&scope=public_profile,user_photos,email&redirect_uri=' + encodeURIComponent('http://localhost:3000/login?facebook=true');">
        Facebook
    </button>
  </div>
 </div>

 <modal #modal>
    <modal-header>
        <h4 class="modal-title">{{ 'Login' | translate }}</h4>
    </modal-header>
    <modal-body>
        {{ errMessage | translate }}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
    </modal-footer>
</modal>

<modal #42login id="42login">
    <modal-header>
        <h4 class="modal-title">{{ 'Login' | translate }}</h4>
    </modal-header>
    <modal-body>
        {{ 'Authorization in progress. Please be patient.' | translate }}
    </modal-body>
</modal>