<div class="jumbotron" style="padding: 10px;">
	<h1>{{ (entireMovie !== null) ? entireMovie.title : '' }}</h1>
	<hr>
	<div align="center" class="embed-responsive embed-responsive-16by9">
		<video class="embed-responsive-item" controls seeking >
			<!--<source src="http://localhost:3001/api/show_movie/{{ movieID }}/{{ movieQuality }}" type="video/mp4">-->
			<track src="http://localhost:3001/api/movie_subtitles/{{ imdbCode }}/{{ lang }}" kind="subtitles" srclang="en">
		</video>
	</div>
	<hr>
	<div class="container-fluid">
		<div class="column">
			<div class="col-xs-12 col-md-8">
				<h4>Summary:</h4>
				<p style="padding: 15px 30px 0px 30px; font-size: 16px;">{{ entireMovie !== null ? entireMovie.description_full : '' }}</p>
			</div>
			<div class=".col-xs-6 .col-md-4">
				<table>
					<tr>
						<td style="width: 110px;"><b>Director:</b></td>
						<td>{{ imdb !== null ? imdb.Director : '' }}</td>
					</tr>
					<tr>
						<td style="width: 110px; valing:top;"><b>Actors:</b></td>
						<td>{{ imdb !== null ? imdb.Actors : '' }}</td>
					</tr>
					<tr>
						<td style="width: 110px; valing:top;"><b>Imdb Rating:</b></td>
						<td>{{ imdb !== null ? imdb.imdbRating : '' }} <span class="glyphicon glyphicon-star"></span></td>
					</tr>
					<tr>
						<td style="width: 110px; valing:top;"><b>Duration:</b></td>
						<td>{{ imdb !== null ? imdb.Runtime : '' }}</td>
					</tr>
					<tr>
						<td style="width: 110px; valing:top;"><b>Genre:</b></td>
						<td>{{ imdb !== null ? imdb.Genre : '' }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="detailBox">
    <div class="titleBox">
      <label>Movie Comments</label>
    </div>
    <!--<div class="commentBox">        
        <p class="taskDescription">Have a comment on this movie? Place it here.</p>
    </div>-->
    <div class="actionBox">
        <ul class="commentList"  *ngIf="(MovieComments !== null) ? true : false">
            <li *ngFor="let cmt of MovieComments">
                <div class="commenterImage">
					<a [routerLink]="['/user']" [queryParams]="{ username: cmt.username }">
						<img [src]="cmt.image_link" 
                        onError="this.src = 'http://placekitten.com/50/50'" style="max-width: 50px; max-height:50px"/>
					</a>
                </div>
                <div class="commentText">
                    <p class="">{{ cmt.Comment.comment }}</p> 
					<span class="date sub-text">on {{ cmt.Comment.created | date: 'MMMM d, y H:mm'}}</span>
                </div>
            </li>
        </ul>
        <form class="form-inline" role="form" (submit)="createComment($event, comment.value)">
            <div class="form-group">
                <input class="form-control" #comment type="text" placeholder="Your comments" required="true" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>


<div class="userInfo">
    <img src="{{ user.image_link }}" alt="{{user.username}}" style="padding-left: 2px; max-height: 48px; max-width: 48px"/>
    <div class="info">
        <p>{{ user.username }}</p>
        <a (click)="logout()">Logout</a>
    </div>
</div>